{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('MAMEFOODS Admin') }}{% endblock %}

{% block branding %}
<div class="logo-custom">
    <div class="brand-main">
        <span style="color: #fff;">MAME</span>
        <span style="color: #d4af37;">FOODS</span>
    </div>
    <div class="brand-tagline">SUPER FAYA</div>
    <div class="brand-product">RICE</div>
    <div class="brand-premium">THE PREMIUM QUALITY</div>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
